<h1>MainWindow index</h1>
<p>
  <%= link_to 'User', new_user_path%>
</p>
<p>
  <%= link_to 'Your items', controller: 'items'%>
</p>
<p>
  <%= link_to 'Item request', controller: 'item_requests'%>
</p>
<p>
  <%= link_to 'Item loan', controller: 'item_loans'%>
</p>
