<!DOCTYPE html>
<div class="col-md-6 col-sm-offset-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="panel-title">
              Users
            </h1>
            <div class="pull-right">
              <form action="" class="search-form">
                <div class="form-group has-feedback">
                  <label class="sr-only" for="search">Search</label>
                  <input class="form-control" id="search" name="search" placeholder="search" type="text">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form>
            </div>
          </div>
          <div class="panel-body">
            <input class="form-control" data-action="filter" data-filters="#dev-table" id="dev-table-filter" placeholder="Filter users" type="text" />
          </div>
          <table class="table table-hover" id="dev-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Surname</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>-</td>
                  <td>
                    <%= user.name %>
                  </td>
                  <td>
                    <%= user.surname %>
                  </td>
                  <td>
                    <%= link_to 'See items', see_items_path(user), class: "btn btn-round" %>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to 'Back to profile', current_user, class: "btn btn-round" %>
      </div>
    </div>
  </div>
</div>
